.hide {
    display: none;
}

#app {
    max-width: 100%;
    margin: auto;
    text-align: center;
}

#graph2D {
    text-align: center;
    margin-top: 15px;
}

#graph2D>div {
    text-align: center;
    float: left
}

.canvas {
    margin-right: 70px;
    margin-left: 150px;
    ;
}

#canvas {
    border-radius: 10px;
}

#ui {
    text-align: left;
    width: 650px;
    max-height: max-content;
}

.showComponent {
    background-color: transparent;
    border: 1px solid;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 32px;
    margin-right: 20px;
    border-radius: 2px;
    transition-duration: 0.3s;
}

.showComponent:hover {
    background-color: transparent;
    color: rgb(255, 0, 0);
}

#addFunction {
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 32px;
    border-radius: 2px;
    transition-duration: 0.3s;
}

#addFunction:hover {
    background-color: transparent;
    color: rgb(255, 0, 0);
}

.params {
    margin-bottom: 3px;
    padding-left: 15px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid #a1adc7;
    color: rgb(255, 255, 255);
    max-width: 75px;
}

::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    opacity: 70%;
    font-size: 12px;
}

#delete {
    background-color: transparent;
    border: 1px solid;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 2px;
    width: 74px;
    margin: 5px 10px 10px 20px;
}

#delete:hover {
    background-color: transparent;
    color: rgb(255, 0, 0);
}

body {
    background-attachment: scroll;
    background-color: #101111;
    background-repeat: no-repeat;
    position: center center;
    background-size: 100%;
}

input[type="checkbox"] {
    margin-top: 15px;
    height: 20px;
    width: 20px;
    border: none;
    background-color: white;
    position: relative;
    outline: none;
    transform: rotate(45deg);
    -webkit-appearance: none;
}

input[type="checkbox"]:before {
    position: absolute;
    content: "";
    background-color: white;
    height: 60%;
    width: 100%;
    top: -55%;
    border-radius: 75px 75px 0 0;
}

input[type="checkbox"]:after {
    position: absolute;
    content: "";
    background-color: white;
    height: 60%;
    width: 100%;
    transform: rotate(-90deg);
    border-radius: 75px 75px 0 0;
    top: 20%;
    right: 75%;
}

input[type="checkbox"]:checked,
input:checked[type="checkbox"]:before,
input:checked[type="checkbox"]:after {
    background-color: rgb(199, 87, 87);
}

.calcInputs {
    margin-top: 100px;
}

.results {
    margin: 40px 0 40px 0;
}

.resultNumber {
    width: 300px;
    height: 30px;
    color: rgb(255, 255, 255);
    outline: none;
    background-color: rgba(64, 68, 70, 0.85);
    border-radius: 3px;
    border-style: solid;
    border-color: rgb(216, 223, 235);
}

.number {
    width: 250px;
    height: 30px;
    outline: none;
    background-color: rgba(64, 68, 70, 0.85);
    border: none;
    border-radius: 3px;
    border-bottom: solid 3px white;
    ;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    ;
}

.operands {
    background-color: rgba(64, 68, 70, 0.85);
    border-color: #ffffff;
    border: 1px solid;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    width: 70px;
    height: 25px;
    margin-left: 10px;
    display: inline-block;
}

.operands {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.operands:hover {
    background-color: white;
    color: rgba(64, 68, 70, 0.85);
}

.graph3D {
    display: inline-flex;
    position: relative;
    float: left;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
}
.canvas3D {
    width: 700px;
    position: relative;
}
#canvas3D {
    border-radius: 3px;
}
.light {
    padding: 150px 100px 150px 100px;
    display: inline-block;
}
.figures {
    padding-right: 200px;
    padding-left: 30px;
}
select {
    background:#FFFF00;
    width: 300px;
    height: 45px;
    color: rgb(0, 0, 0);
    outline: none;
    border: transparent;
    border-bottom: 1px solid;
    border-color: rgb(0, 0, 0);
    text-transform: capitalize;
    padding-left: 15px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition-duration: 0.3s;
}
select:hover {
    border-color: #000000;
    color: #000000;
}
select:focus {
    border-color: #000000;
    color: #000000;
}
option {
    background-color: #FFFF00;
}
.Options3D {
    display: none;
}
.lightSpinning {
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
}
.checkingButtonStyle {
    margin: 0px 5px 0px 5px;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #FFFF00;
    color: rgb(0, 0, 0);
    outline: none;
    border: 1.5px solid;
    border-radius: 1px;
    border-color: rgb(0, 0, 0);
    position: relative;
    user-select: none;
    transition: 0.3s;
}
.checkingButtonStyle:hover {
    color: rgb(0, 0, 0);
    border-color: #000000;
}
input[class="Options3D"]:checked + .checkingButtonStyle {
    color: #000000;
    border-color: #000000;
    background-color: #FFFF00;
}
.allows {
    margin-top: 20px;
    height: 50px;
}
/*Сила освещения */
#powerOfLight {
    -webkit-appearance: none;
    background: transparent;
    height: 0px;
    outline: none;
    border: 1px solid #FFFF00;
    border-radius: 9px;
}
#powerOfLight::-webkit-slider-thumb {
    cursor: pointer;
}
#colorSelector {
    margin-top: 20px;
    margin-bottom: 20px;
	-webkit-appearance: none;
	border: none;
	width: 50px;
	height: 25px;
}
#colorSelector::-webkit-color-swatch-wrapper {
	padding: 0;
}
#colorSelector::-webkit-color-swatch {
	border: none
}
#arrow-left {
	width: 15px;
	height: 15px;
	background: transparent;
	border-top: 3px solid white;
	border-right: 3px solid white;
    border-left: none;
    border-bottom: none;
    transform: rotate(-135deg);
}
#arrow-left:hover {
    border-color: #FFFF00;
}
#arrow-left:active {
    border-color: #FFFF00;
}
#arrow-right {
	width: 15px;
	height: 15px;
	background: transparent;
	border-top: 3px solid white;
	border-right: 3px solid white;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}
#arrow-right:hover {
    border-color: #FFFF00;
}
#arrow-right:active {
    border-color: #FFFF00;
}
.addDelFigureBlock {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
/*Add Figure Delete figure */
.countOfFigures {
    width: 150px;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgba(255,255,0);
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    border-bottom: 1px solid;
    border-color: rgb(0, 0, 0);
    transition: 0.3s;
}
.countOfFigures:hover {
    border-color: #000000;
    color: #000000;
}
.countOfFigures:active {
    border-color: #FFFF00;
    transition: 0.4ms;
}
